@{
    ViewBag.Title = "DoctorProfile";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12 mt-30 mb-20">
            <h2>DoctorProfile</h2>
        </div>
    </div>
</div>
