
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-white-8 bc">
      <div class="container-fluid pt-0 pb-0">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h4 class="">@ViewBag.Title</h4>
            </div>
          </div>
        </div>
      </div>
    </section>